<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    <div>
        <nav>
            <ul>
                <li> <a href="/index.html">Home</a></li>
                <li> <a href="/component/Education.html">Education</a></li>
                <li> <a href="/component/skills.html">Skills</a></li>
                <li> <a href="/component/artical.html"> Artical</a></li>
                <li> <a href="/component/project.html">Projects</a> </li>
                <li> <a href="/component/contact.html">Contact</a> </li>
        </ul>
            </ul>
            </nav>
        </div>
      
    
        <div class="content">
            <span class="title">A Full Stack Developer</span>
            <br>
            <h3 class="titleg" style="font-size: 50px; color: rgb(14, 73, 128);">Ganesh H</h3>
    
        </div>
<hr style="border: solid 2px;">
        <div>
        <nav class='nav2'>
            <ul class="nav22">
                <li>Articals</li>
            </ul>
             </nav>
            </div>
            <hr style="border: solid 2px;">

            <div class="pd1">
                <h1>Raphael Aleixo Artical</h1>
              
                <h2>Portfolios don’t need to be overly complicated, and front-end developer Raphael’s one-page portfolio gets straight to the point: showing off his design prowess. A unique left-to-right scrolling motion lets him include multiple projects on the same page, and clicking each project brings up a more detailed case study. The dark theme helps the colorful screenshots pop, and the vertical menu makes the site easy to navigate.</h2>
                <br>
                <a href=" https://aleixo.me/">Portfolio Link: https://aleixo.me/</a>
                <br>
                <br>
                <hr>
                
                <h1>Ramon Gilabert Artical</h1>
              
                <h2>Ramon’s portfolio design is calming and beautiful, and the design adapts particularly well to mobile—important when more than half of web traffic these days is on mobile. His case studies are particularly effective, listing specific results and explaining his thinking behind the project.</h2>
                <br>
                <a href="https://gilabert.design/">Portfolio Link: https://gilabert.design/</a>
                <br>
                <br>
                <hr>
            </div>
            <nav>
                <ul style="padding: 25px;">
                    <h2 style="font-size: 25px; text-align: center; color: rgb(3, 72, 133); ">Made by Ganesh H 🖤</h2>
                </ul>
            </nav>
</body>
</html>